@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #036735;
    color: #FFFBE8;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #020C07;
}
::-webkit-scrollbar-thumb {
  background: #FF0080;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FEE101;
}

/* Retro Badges & Stamps */
.stamp-badge {
  transform: rotate(-3deg);
  box-shadow: 4px 4px 0px #000000;
}
